@font-face {
    font-family: "HelveticaNeue-Roman";
    src: url(../fonts/HelveticaNeue-Roman.ttf);
}

@font-face {
    font-family: "ofont.ru_Azbuka06";
    src: url(../fonts/ofont.ru_Azbuka06.ttf);
}

@font-face {
    font-family: "FormaDJRCyrillicDisplay-Regular-Testing";
    src: url(../fonts/FormaDJRCyrillicDisplay-Regular-Testing.ttf);
}